name : Hello wolrd workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main 
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@v2_
      - name : hello world
        run: echo "Hellow world"
        shell: bash 

  goodbye:
    runs-on: ubuntu-latest
    steps:
      - name: goodbye world
        run: echo "Goodbye World"
        shell: bash 

